{% extends 'baseB.html.twig' %}

{% block body %}

    <div id="calendrier"></div>
    <title>Emplois du temps</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
{% block javascripts %}
<script>

        document.addEventListener('DOMContentLoaded', function () {
            let calendarElt = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarElt, {
                
                allDaySlot: false,
                initialView: 'dayGridMonth',
                locale: 'fr',  
                timeZone: 'Africa/Tunis',
                headerToolbar: {
                    left: 'prev,next today',    
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'

                },
                events: {{ data|raw }},
                 eventContent: function(info) {
                return {
                    html: `<div class="fc-content">${info.event.titre}</div>
                           <div class="fc-description">${info.event.extendedProps.description}</div>`
                };
                        },
                        editable:true,
                        eventResizableFromStart: true,

                
            })

            calendar.on('eventChange',(e) => {
                let url = `/api/${e.event.id}/edit`
                 let donnees = {
                "title": e.event.titre,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                 }
                 console.log(donnees)

                
            })

            calendar.render();
        });
    </script>
    <!-- Your existing script and style links... -->
{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier {
            width: 80%; /* Adjust the width to your preference */
            margin: auto;
        }

        #calendrier .fc-header-toolbar .fc-button {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        #calendrier .fc-header-toolbar .fc-button:hover {
            background-color: #0056b3;
            color: #fff;
            border-color: #0056b3;
        }

        #calendrier .fc-content {
            font-size: 1em;
            font-weight: bold;
        }

        #calendrier .fc-description {
            font-size: 0.8em; /* Adjust the font size for event descriptions */
            color: #3c3c3c; /* Optionally, set a color for event descriptions */
        }
    </style>
{% endblock %}
    
{% endblock %}
